USE [master]
GO
/****** Object:  Database [ProgDB]    Script Date: 2025/11/21 20:53:36 ******/
CREATE DATABASE [ProgDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProgDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProgDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProgDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProgDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProgDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProgDB]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 2025/11/21 20:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LecturerId] [int] NOT NULL,
	[HoursWorked] [decimal](10, 2) NOT NULL,
	[HourlyRateAtSubmission] [decimal](10, 2) NOT NULL,
	[TotalAmount]  AS ([HoursWorked]*[HourlyRateAtSubmission]) PERSISTED,
	[DocumentationPath] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CoordinatorId] [int] NULL,
	[ManagerId] [int] NULL,
	[SubmittedAt] [datetime] NOT NULL,
	[ReviewedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 2025/11/21 20:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/11/21 20:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([Id], [LecturerId], [HoursWorked], [HourlyRateAtSubmission], [DocumentationPath], [Status], [CoordinatorId], [ManagerId], [SubmittedAt], [ReviewedAt]) VALUES (1, 1, CAST(31.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)), NULL, N'Approved', 2, NULL, CAST(N'2025-11-20T21:54:20.150' AS DateTime), CAST(N'2025-11-21T14:25:45.963' AS DateTime))
INSERT [dbo].[Claims] ([Id], [LecturerId], [HoursWorked], [HourlyRateAtSubmission], [DocumentationPath], [Status], [CoordinatorId], [ManagerId], [SubmittedAt], [ReviewedAt]) VALUES (5, 4, CAST(45.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)), NULL, N'Rejected', 2, NULL, CAST(N'2025-11-21T09:32:33.637' AS DateTime), CAST(N'2025-11-21T14:26:05.710' AS DateTime))
INSERT [dbo].[Claims] ([Id], [LecturerId], [HoursWorked], [HourlyRateAtSubmission], [DocumentationPath], [Status], [CoordinatorId], [ManagerId], [SubmittedAt], [ReviewedAt]) VALUES (6, 4, CAST(55.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)), NULL, N'Approved', 5, NULL, CAST(N'2025-11-21T14:43:54.093' AS DateTime), CAST(N'2025-11-21T14:53:43.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
INSERT [dbo].[UserProfiles] ([UserId], [FirstName], [LastName], [Email], [HourlyRate]) VALUES (1, N'Ryan', N'trevor', N'ryantrevor@gmail.com', CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[UserProfiles] ([UserId], [FirstName], [LastName], [Email], [HourlyRate]) VALUES (2, N'Jessica', N'davies', N'jessd@gmail.com', CAST(60.00 AS Decimal(10, 2)))
INSERT [dbo].[UserProfiles] ([UserId], [FirstName], [LastName], [Email], [HourlyRate]) VALUES (3, N'Duncan', N'Theron', N'DunksT3@gmail.com', CAST(120.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (1, N'Lecturer01', N'Lecturerpass123', N'Lecturer')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (2, N'AC01', N'AC123', N'Academic coordinator')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (3, N'HR01', N'HR123', N'HR')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD FOREIGN KEY([CoordinatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
